.top{
    text-align: center;
    padding: 60px;
}
.image{
    border-radius: 400px;
     margin: 90px;
}
.color{
    background-color: rgb(108, 164, 172);
    height: 90px;
    width: 500px;
    padding: 90px;
    margin: 370px;
    margin-top: -150px;
    border-radius: 20px;
}
.about{
    color: white;
    text-align: center;
    margin-top: -50px;
}
.p1{
    color: white;
}
.link{
    color: yellow;
}
.detail{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -350px;

}